table {
	max-width: 900px;
	margin: auto;
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
}

th {
	padding: 10px 0px;
	background-color: blue;
	color: white;
	font-weight: bold;
	text-align: left;
	font-size: 20px;
}

td,
th {
	border: 2px solid blue;
	padding: 8px;
}

.action {
	display: flex;
	gap: 10px;
}

.btn {
	padding: 10px 20px;
	border: none;
	color: white;
	font-weight: bold;
	border-radius: 10px;
}

.btn-edit {
	background-color: rgb(185, 126, 17);
}

.btn-delete {
	background-color: rgb(197, 37, 37);
}

.btn-create {
	background-color: rgb(29, 0, 196);
}
