.card-container {
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 20px 0px;
}

.container {
	width: 150px;
	margin:  auto;
  
	list-style: none;
	padding: 0;
  }
  
  .slide > div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	height: 100px;
  }
  
  .slide span {
	padding: 10px;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	background: rgba(141, 174, 224, 0.5);
	text-align: center;
  }
  